*{

    font-family: 'Montserrat', sans-serif;
    /*background-image: url("../img/imagen_1.jpg") ;  Foto de freestocks.org en Pexels */
    color: #212121;
    margin:0;
    padding: 0;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style:none !important;
    
}

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';


/*Barra de navegación*/
.navbar{
  background-color: white !important;
}

.nav-link:hover{
  color: rgb(104, 103, 103) !important;
}
/*Fin de barra de navegación*/

/*Texto del header de inicio*/
@media (min-width: 1px) and (max-width: 575px){
  .text{
    font-size: 2.5rem !important;
  }
}
/*Fin de texto del header de inicio*/

/*Imágen de header de inicio*/
.parallax-image{
  background-image: url("../img/imagen_1_3.jpg") ; /* Foto de Aleksandar Pasaric en Pexels */
  height: 610px;
  margin-bottom: 50px;
  margin-top: -60px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Fin de imagen header de inicio*/

.dud {
  color: #757575;
}

.btn{
    color:white !important;
    border-radius: 40px !important;
}

/*Imagenes de página de inicio*/
.card-1{
   background-image: url("../img/imagen_1_4.jpg"); /*Foto de Tranmautritam en Pexels */
   background-repeat: no-repeat;
}


.card-2{
  background-image: url("../img/imagen_1_5.jpg"); /*Foto de luis gomes en Pexels*/
  background-repeat: no-repeat;
}
/*Fin de imagenes de página de inicio*/

/*Imágen del header de servicios*/
.background-img{
  width: 100%;
  height: 550px;
  background-image: url("../img/imagen_1_8.jpg"); /* Foto de Andrea Piacquadio en Pexels  */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color:#FFFFFFFF;
  text-align: center;
}

.background-img-1{
  width: 100%;
  height: 550px;
  background-image: url("../img/imagen_1_4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color:#FFFFFFFF;
  text-align: center;

}

.background-img-2{
  width: 100%;
  height: 550px;
  background-image: url("../img/imagen_1_5.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color:#FFFFFFFF;
  text-align: center;
  
}
.background-img-3{
  width: 100%;
  height: 550px;
  background-image: url("../img/imagen_1_6.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color:#FFFFFFFF;
  text-align: center;
  
}
.background-img-4{
  width: 100%;
  height: 550px;
  background-image: url("../img/imagen_1_9.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color:#FFFFFFFF;
  text-align: center;
  
}
/*Fin de imágen del header de servicios*/

/*Imágen del footer*/
.footer-image {
  width: 100%;
  height: auto;
  background-image: url("../img/img_footer.jpg"); 
  background-position: center;
  background-size: cover;
  color:#FFFFFFFF;
}
/*Fin de imágen del footer*/

/*Animacion de Scrolling*/
.animacion {
  opacity: 0;
  transition: all 0.5s;
}

.mostrarArriba{
  animation: mostrarArriba 1.5s;
}

@keyframes mostrarArriba{
  0%{
    transform: translateY(-40px);
  }
  100%{
    transform: translateY(0);
  }

}
/*Fin de Animacion de Scrolling*/

.servicio-web {
  margin-top:  -50px;
}

/*Miniatura de servicio web*/

/* Section de los fundadores */
.founders{
  margin-top: 30px;
}
.section-1{

  background-color: #3e729a; 
  
}
